/Animal.class
/AnimalJaExisteException.class
/Cachorro.class
/Gato.class
/GravadorDeDados.class
/InterfaceSistemaAdocao.class
/Requisito.class
/SistemaAdocaoList.class
/TestaAdocao.class
/Usuario.class
/UsuarioJaExisteException.class
